In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Hamoye_Data/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding= "latin-1")

In [5]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [31]:
missing_2014 = df['Y2014'].isnull().sum()

total_entries = len(df)
percentage_missing_2014 = (missing_2014 / total_entries) * 100

print("Total number of missing data in 2014:", missing_2014)

print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing_2014))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [30]:
selected_data = df[['Y2017', 'Area']]

# Group by 'Area' and sum the 'Y2017' values
sum_by_area = selected_data.groupby('Area')['Y2017'].sum()

# Sort the sums in ascending order
sorted_sums = sum_by_area.sort_values()

# Select the 7th lowest sum and retrieve the corresponding Area name
seventh_lowest_area = sorted_sums.index[6]

print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [29]:
selected_data = df[['Element', 'Y2017']]

# Group by 'Element' and sum the 'Y2017' values
sum_by_element = selected_data.groupby('Element')['Y2017'].sum()

# Select the sum corresponding to 'Processing'
processing_sum_2017 = sum_by_element.get('Processing', 0)  # Default value 0 if 'Processing' is not found

print("Total sum of Processing in 2017:", processing_sum_2017)

Total sum of Processing in 2017: 292836.0

In [28]:
selected_data = df[['Y2017', 'Area']]

# Group by 'Area' and sum the 'Y2017' values
sum_by_area = selected_data.groupby('Area')['Y2017'].sum()

# Find the maximum sum in 2017
max_sum_2017 = sum_by_area.max()

# Filter the DataFrame to find the Area with the maximum sum in 2017
area_highest_sum_2017 = sum_by_area[sum_by_area == max_sum_2017].index[0]

print("Area with the highest sum in 2017:", area_highest_sum_2017)

Area with the highest sum in 2017: Nigeria

In [26]:
df.shape

(60943, 12)

In [25]:
# Filter data for Madagascar and select the 'Y2015' column
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar')]['Y2015']

# Sum up the protein supply quantity for Madagascar in 2015
total_protein_madagascar_2015 = madagascar_protein_2015.sum()

print("Total protein supply quantity in Madagascar in 2015:", total_protein_madagascar_2015)

Total protein supply quantity in Madagascar in 2015: 126674.9

In [24]:
y2017_data = df['Y2017']

# Calculating the mean and standard deviation for the year 2017
mean_2017 = y2017_data.mean()
std_dev_2017 = y2017_data.std()

# Rounding the values to 2 decimal places
mean_2017_rounded = round(mean_2017, 2)
std_dev_2017_rounded = round(std_dev_2017, 2)

print("Mean for the year 2017:", mean_2017_rounded)
print("Standard deviation for the year 2017:", std_dev_2017_rounded)

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

In [23]:
wine_2015 = df[(df['Item'] == 'Wine')]['Y2015'].sum()
wine_2018 = df[(df['Item'] == 'Wine')]['Y2018'].sum()

print("Total sum of Wine produced in 2015:", wine_2015)
print("Total sum of Wine produced in 2018:", wine_2018)

Total sum of Wine produced in 2015: 4251.8099999999995
Total sum of Wine produced in 2018: 4039.3199999999997

In [22]:

relevant_data = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

# Calculating correlation coefficients with 'Element Code'
correlations = relevant_data.corr()['Element Code'].drop('Element Code')

# Finding the year with the least correlation
year_least_correlation = correlations.idxmin()

print("Year with the least correlation with 'Element Code':", year_least_correlation)

Year with the least correlation with 'Element Code': Y2016

In [21]:
total_unique_countries = df['Area'].nunique()

print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

In [35]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
print(x)

8